DATABASE_URL =
BETTER_AUTH_SECRET =
BETTER_AUTH_URL =
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GITHUB_CLIENT_ID =
GITHUB_CLIENT_SECRET =
DISCORD_BOT_TOKEN =
STRIPE_SECRET_KEY =
STRIPE_WEBHOOK_SECRET =
NEXT_PUBLIC_APP_URL =
NODE_ENV =
NETLIFY_URL=
CRON_SECRET =
